{% extends "base.html" %}
{% block slidebar_css %}
<style>
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 52px;
        left: 0;
        background-color: #12030300;
        overflow-x: hidden;
        padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

</style>
{% endblock slidebar_css %}
{% block answer_view %}
<h1>Top Answers</h1>
<div class="question_view">
    {% if latest_question_list %}
<ul>
{% for answer in latest_question_list %}
<li><a href="/answer_view/{{ question.id }}/">
   <h2>{{ answer.answer}}</h2>
   <h6>{{answer.User}}</h6></a></li>
{% endfor %}
<a class="btn btn-primary" href="/index/" role="button">Link</a>
</ul>
{% else %}
<p>No Answeravailable</p>
{% endif %}
</div>
<li class="nav-item1">
    <a class="nav-link" href="{% url 'ask_question' %}">Ask Question</a>
  </li>
  {% endblock answer_view %}
