{% extends 'base.html' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
<div class="bg-secondary">
<div class="container">
    <div class="card mt-5 bg-light">
        <h5 class="card-header">Edit Question</h5>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table class="table table-bordered">
                    {{form.media}}
                    {{form.as_table|safe}}
                    <tr>
                        <td colspan="2">
                           <a href="{{request.META.HTTP_REFERER}}"class="btn btn-primary">Submit</a>
                            <a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
     </div>
 </div>
</div>
{% endblock %}
