<!--
{% block content %}

<form method="POST" action=".">{% csrf_token %}
     {{form.as_p}}
    <button type="submit">Paste</button>
</form>
{% endblock %} -->

<!-- <form action="" method="post">
    {% csrf_token %}
    {{form}}
        <h1>enter your question title here</h1>
    <button type="submit">ok</button>
</form> -->
<div>
    <h1>Top Questions</h1>
    {% if latest_question_list %}
<ul>
{% for question in latest_question_list %}
<li><a href="/question/{{ question.id }}/">
   <h2>{{ question.question_title }}</h2>
   <h6>{{question.like}}</h6>
   <h6>{{question.User}}</h6></a></li>
{% endfor %}
<a class="btn btn-primary" href="/index/" role="button">Link</a>
</ul>
{% else %}
<p>No question available</p>
{% endif %}
</div>
<li class="nav-item1">
    <a class="nav-link" href="{% url 'ask_question' %}">Ask Question</a>
  </li>
